@{ 
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

@model sozluk123.Models.Users




<style>
    .center {
        margin: auto;
        align-items: center;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }


    .validation-summary-errors ul {
        list-style: none;
        text-align: center;
    }
</style>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@using (Html.BeginForm())
{
@Html.AntiForgeryToken() Html.EnableClientValidation(true);
<div class="center">
    <h2>Sign Up</h2>
    <div class="form-horizontal">

        <hr />
        <div class="text-success">
            @ViewBag.Message
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Passcode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Passcode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Passcode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </div>
    </div>
</div>}

<div class="center">
    @Html.ActionLink("Main Page", "Index123", "entries")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
}
@if (ViewBag.Message == "Successfully Registered")
{
<script type="text/javascript">
        swal("Successfully Registered!", "Redirecting to Login Page...", "success");
        window.setTimeout(function () { location.href = "@Url.Action("Login", "Accounts")" }, 2000)

        Response.Redirect(Url.Action("Login", "Accounts"));
</script>
}