@model sozluk123.Models.yazar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>yazar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.yazar_ismi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yazar_ismi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yazar_yorum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yazar_yorum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kayit_tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kayit_tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
